* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --text: rgb(0, 0, 0);
  --text-alt: rgb(0, 0, 0);
  --radius: 25px;
  --shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
  --border: 2px solid #637899;
  --sideBarBg: #637899;
  --taskContainerBg: #ddf2ff;
  --selectedItemBg: #ddf2ff;
}

body {
  display: grid;
  grid: 96vh 3vh / 20vw 80vw;
  background-color: var(--taskContainerBg);
}

h2 {
  font-size: (1.125rem, 2vw + 1rem, 2.25rem);
}

/* ! Side bar */
#side-bar {
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding-top: 1.8rem;
  background-color: var(--sideBarBg);
}

.item-sidebar {
  padding-left: 10%;
  display: flex;
  justify-content: space-between;
}

.sb-groups {
  padding: 0 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#project-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  content: ' ';
  height: 100%;
  overflow: auto;
}

.projects {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.5rem;
  padding: 0 1rem;
}

.projects:hover .delete-btn {
  display: inline-flex;
}

.selected {
  border-radius: 10px 0px 0 10px;
  background-color: var(--selectedItemBg);
  font-weight: 800;
}

.delete-btn {
  cursor: pointer;
  display: none;
}

.new-project {
  text-shadow: var(--selectedItemBg);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1rem 3rem 1rem 3rem;
}

#create-project {
  font-size: clamp(1rem, -0.7rem + 5vw, 1.5rem);
}

#manage-projects {
  margin: 0 auto 2rem auto;
}

/* ! Projects section */
.project-title {
  display: flex;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}

/* ! Task container */
#tasks-container {
  position: relative;
  left: 25vw;
  width: 70vw;
  padding: 1rem 0 0 0;
  display: grid;
  grid-template-rows: 8% 92%;
  height: 100vh;
}

#top-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#section-name {
  text-align: center;
  font-size: clamp(1rem, -0.3889rem + 7.4074vw, 2rem);
  letter-spacing: 2px;
}

#new-task {
  box-shadow: 2px 2px 2px #4c596e;
  height: 2rem;
  display: flex;
  gap: 10px;
  padding: 5px 20px;
  align-items: center;
  border-radius: var(--radius);
  border: var(--border);
  cursor: pointer;
  background-color: transparent;
}

#task-items {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.task-item {
  display: flex;
  flex-direction: column;
}

.task-content {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border: var(--border);
  padding: 8px 20px;
  border-radius: var(--radius);
}

.today-task {
  cursor: pointer;
}

.today-task,
.task-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn-action {
  cursor: pointer;
}

.note-content {
  display: none;
  margin: 0 3rem;
  padding: 0.5rem 2.5rem;
  border: 1px #637899;
  border-style: none solid solid solid;
  border-radius: 0 0 15px 15px;

  font-size: 0.9rem;
}

.info-container {
  display: flex;
  padding-top: 1rem;
  /* flex-direction: column; */

  justify-content: space-around;
}

.due-date,
.creation-date {
  font-weight: 500;
  text-align: right;
  font-style: italic;
}

.displayed-note {
  display: block;
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 0.5rem;
}

.selected-date {
  font-weight: 700;
}

#completed-title {
  display: flex;
  align-items: center;
}

/* Completed task. */
.completed-task {
  font-weight: normal;
  opacity: 0.5;
}

.completed-task:hover {
  opacity: 1;
}

.completed-task p {
  text-decoration: line-through;
}

.completed-task > * {
  border: none;
}

.hide {
  display: none;
}

/* Github */
#github {
  position: absolute;
  bottom: 20px;
  right: 40px;
  display: flex;
  justify-content: end;
}

img {
  width: 25px;
  height: 25px;
}

/* Modal window. */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}

#modal-content {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  width: 40%;
  height: fit-content;
  margin: 10vh auto auto auto;
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--sideBarBg);
  box-shadow: 4px 4px 5px black;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
  font-weight: 600;
}

#all-projects,
textarea,
.modal-container > input {
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  border-color: #ddf2ff;
}

.radio-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  font-weight: 500;
}

#task-note {
  height: 20vh;
  max-width: 100%;
  float: right;
  text-rendering: initial;
}

#task-date {
  max-width: fit-content;
  text-align: center;
}

.btn-container {
  padding-top: 1rem;
  display: flex;
  gap: 20%;
  margin: auto;
}

#edit-task,
#submit-task,
#cancel-task {
  border-style: none;
  border-radius: var(--radius);
  width: 7vw;
  padding: 2px;
  cursor: pointer;
  font-weight: 600;
}
