* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text: rgb(0, 0, 0);
  --text-alt: rgb(0, 0, 0);
  --radius: 30px;
  --shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
}

/* ! Side bar */
#side-bar {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  position: fixed;
  gap: 1.2rem;
  width: clamp(150px, 20rem, 360px);
  height: 100%;
  padding-top: 3.125rem;
  padding-left: 2em;
  background-color: aquamarine;
  z-index: 1;
}

.title-two {
  padding: 1.5rem 0;
}

#project-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  content: ' ';
  height: 100%;
  background-color: antiquewhite;
  overflow: auto;
}

.project {
  display: flex;
  justify-content: space-between;
}

.new-project {
  display: flex;
  gap: 10px;
  justify-content: center;
}

#manage-projects {
  margin: 0 auto 2rem auto;
}

/* ! Footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding-right: 40px;
  margin-bottom: 2rem;
  background-color: red;
}
